# Dependencies
frontend/node_modules/ 
node_modules/

# Production builds
frontend/build/ 
build/
frontend/dist/ 
dist/

# Syst & Editor Files
.history/
.DS_Store
.vscode

# Environment
.env/
env/
.venv/
venv/