*{
    display: flex;
    font-size: medium;
}

html{
    background-color: blue;
}

body{
    margin: 10px 20px 15px;
    background-color: white;
}

#hide-header{
    display: none;
    font-size: 0%;
}